<% if shop.errors.any? %>
  <div class="alert alert-danger">
    <h3><%= shop.errors.count %>件の必須項目を入力してください</h3>
    <ul>
      <% shop.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>