<div class="container">
	<div class="row">
  <div class="d-flex flex-row flex-wrap">
    <% @shops.each do |shop| %>
    <div class="card mb-5 mr-2", style="width:25%">
      <div class="card">
        <div class ="shop-image">
          <p class="img card-img-top"><%= attachment_image_tag shop, :shop_image, width: "100%", format: "jpeg", fallback: "no_image.png" %></p>
        </div>
        <div class="card-body">
          <p class="card-title font-weight-bold"><%= shop.name %></p>
          <p class="shop-description"><%= shop.description %></p>
          <%= link_to "more", shop_path(shop), class: "btn btn-dark btn-sm mr-4 mt-3" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  </div>
</div>