<div class="container text-center">
  <div class="row">
    <div class="col-md-4 mx-auto py-5">
    <p class="notice"><%= flash[:notice] %></p>
      <h2 class="title pb-3">和菓子店一覧</h2>
    </div>
  </div>
  <div class="row card-index">
    <% @shops.each do |shop| %>
      <%= render 'public/shops/shop_index', shop: shop %>
    <% end %>
  </div>
</div>