<div class="container shadow-lg text-center mt-3">
  <div class="row">
    <div class="col-sm-4 mx-auto py-5">
      <p class="notice"><%= flash[:alert] %></p>
      <h2 class="title pb-3">和菓子店一覧</h2>
    </div>
  </div>

  <div class="row card-index">
    <% @shops.each do |shop| %>
      <%= render 'public/shops/shop_index', shop: shop %>
    <% end %>
  </div>
</div>