<div class="container text-center">
  <div class="row">
    <div class="col-sm-3 mx-auto py-5">
      <h2 class="title pb-3">新規登録</h2>
    </div>
  </div>
  <%= form_with model: @shop, local: true do |f| %>
  <%= render 'public/shops/errors_message', shop: @shop %>
  <%= render 'public/shops/post_form', f: f  %>
  <%= f.submit "登録", class: "btn btn-dark btn-sm mt-3" %>
  <% end %>
</div>


