<div class="container text-center">
  <div class="row">
    <div class="col-md-3 mt-5">
      <%= image_tag 'about1.png', :size =>'300x300', :class =>'about-img' %>
    </div>
    <div class="col-md-6">
      <h2 class="my-5">はじめに</h2>
      <h5>和菓子店専用シェアサイト<br />
          『あなたと和菓子と』へようこそ！</h5>
      <p>和菓子大好き！という方も<br />
         あまり食べない、苦手という方も<br />
         和菓子の良さを知り、共有して<br />
         自分好みの和菓子を見つけてみてください</p>
      <p>また、和菓子店の皆さまも<br />
         気軽に宣伝の場として<br />
         活用して下さると幸いです</p>
      <h2 class="my-5">使い方</h2>
      <h5 class="my-4"><i class="far fa-hand-point-up"></i>紹介する</h5>
      <p>和菓子店を紹介しよう！<br />
         知っているお店、自身のお店をシェアしよう</p>
      <h5 class="my-4"><i class="far fa-hand-point-up"></i>お店一覧</h5>
      <p>みんながシェアしたお店を見てみよう！<br />
         行った！行ってみたい！ボタンを押すと、<br />
         マイページから確認可能</p>
      <h5 class="my-4"><i class="far fa-hand-point-up"></i>レビューを書く</h5>
      <p><strong>商品別</strong>にレビューをして<br />
         お店の細かい部分も知ることが出来る！</p>
      <h5 class="my-4"><i class="far fa-hand-point-up"></i>SNSシェア</h5>
      <p>お店の詳細画面からSNSシェアして、<br />
         多くの人に知ってもらおう！</p>
    　<h5><i class="far fa-hand-point-up"></i>ランキング</h5>
    　<p>ランキングをみてみよう！<br />
    　    ※ランキングは勝手ながら、<br />
    　    皆さまの行ってみたい！の数が多い順に<br />
    　    決めさせていただいております。</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-right mb-3">
      <%= image_tag 'about1.png', :size =>'300x300', :class => 'about-img' %>
    </div>
  </div>
</div>