<div class="container shadow-lg my-3">
  <div class="row">
    <div class="col-sm-12 text-left my-5 mx-3">
      <%= image_tag 'about.png', :size =>'300x300', :class =>'about-img' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2 class="my-5">和菓子について</h2>
      <p>和菓子の種類についてご紹介いたします</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 mx-auto my-3">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th style="width: 20%">餅菓子</th>
          <td style="width: 80%">
            <p class="text-wrap">もち・うるち・くず・そばなどの粉を原料として柔らかく作ったお菓子。<br />
                                 大福・かしわもち・きんつばなど</p>
          </td>
        </tr>
        <tr>
          <th>蒸し菓子</th>
          <td>
            <p class="text-wrap">蒸して作るお菓子。 <br />
                                 蒸しまんじゅう・ういろうなど</p>
          </td>
        </tr>
        <tr>
          <th>焼き菓子</th>
          <td>
            <p class="text-wrap">焼いて作るお菓子。<br />
               せんべい・茶通・鯛焼きなど</p>
          </td>
        </tr>
        <tr>
          <th>流し菓子</th>
          <td>
            <p class="text-wrap">寒天、砂糖および餡を主材料とした流動状の生地を型に流して成形したお菓子。<br />
                                 きんぎょく、ようかん、水ようかんなど</p>
          </td>
        </tr>
        <tr>
          <th>練り菓子</th>
          <td>
            <p class="text-wrap">あんやもち粉を材料とし、つなぎや砂糖を加え、強くもみ、こね、練り上げて生地とし、成形してすぐ仕上げるお菓子。<br />
                                 ねりきり、こなし、ぎゅうひなど</p>
          </td>
        </tr>
        <tr>
          <th>おか菓子</th>
          <td>
            <p class="text-wrap">別に調整した製品やその他のものを組み合わせて造形したお菓子。<br />
                                 最中、鹿の子、すはまなど</p>
          </td>
        </tr>
        <tr>
          <th>干菓子</th>
          <td>
            <p class="text-wrap">水分の少ない乾燥した和菓子の総称。</p>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-right my-5">
      <%= image_tag 'about.png', :size =>'300x300', :class => 'about-img' %>
    </div>
  </div>
</div>