<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="my-5">はじめに</h2>
      <h5>このサイトは、和菓子店専用シェアサイトです</h4>
      <p>和菓子大好き！という方もあまり食べない、<br />
         苦手という方もこのサイトで<br />
         自分に合った和菓子屋さんを見つけて、<br />
         自分好みの和菓子を見つけてみましょう！</p>
      <p>また、和菓子店を経営している方々も<br />
         気軽に宣伝の場として<br />
         活用して下さると幸いです</p>
      <h2 class="my-5">使い方</h2>
    </div>
  </div>
</div>