<div class="jumbotron jumbotron-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="title-top fadeup">あなたと<br />&emsp;&emsp;和菓子と</h1>
      <h5 class="title-sub-top mt-3 fadeup">you and wagashi</h5>
    </div>
  </div>
</div>