<div class="top-image text-center">
  <h2 class="title-top fadeup mt-5">あなたと<br />&emsp;&emsp;和菓子と</h1>
  <h5 class="title-sub-top fadeup">you and wagashi</h5>
</div>
<div class="container">
  <div class="row my-5">
    <div class="col-sm-10 offset-sm-2 pl-5 pt-5">
      <h2 class="mb-3">はじめに</h2>
      <h5>ようこそ</h5>
      <h5 class="text">和菓子店専用シェアサイト<br>
         『あなたと和菓子と』へ</h5>
      <p>和菓子大好き！という方も<br />
         あまり食べない、苦手という方も<br />
         和菓子の良さを知り、共有して<br />
         自分好みの和菓子を見つけてみてください</p>
      <p>また、和菓子店の皆さまも<br />
         気軽に宣伝の場として<br />
         活用して下さると幸いです</p>
    </div>
  </div>
  <div class="row method mx-auto mb-5">
    <div class="col-sm-12 text-center">
      <h4 class="title-top pt-5">使用方法</h4>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-10 offset-sm-2 pl-5">
      <h5 class="my-4">紹介する</h5>
      <p>和菓子店を紹介しよう！<br />
         知っているお店、自身のお店をシェアしよう</p>
    </div>
  </div>
  <div class="about-image">
    <img src='assets/ornament.png'>
  </div>
  <div class="row my-5">
    <div class="col-sm-6 offset-sm-6 pl-5">
      <h5 class="my-4">お店一覧</h5>
      <p>みんながシェアしたお店を見てみよう！<br />
         行った！行ってみたい！ボタンを押すと、<br />
         マイページから確認可能</p>
    </div>
  </div>
  <div class="about-image">
    <img src='assets/ornament.png'>
  </div>
  <div class="row my-5">
    <div class="col-sm-10 offset-sm-2 pl-5">
      <h5 class="my-4">レビューを書く</h5>
      <p><strong>商品別</strong>にレビューをして<br />
         お店の細かい部分も知ることが出来る！</p>
    </div>
  </div>
  <div class="about-image">
    <img src='assets/ornament.png'>
  </div>
  <div class="row my-5">
    <div class="col-sm-6 offset-sm-6 pl-5">
      <h5 class="my-4">SNSシェア</h5>
      <p>お店の詳細画面からSNSシェアして、<br />
         多くの人に知ってもらおう！</p>
    </div>
  </div>
  <div class="about-image">
    <img src='assets/ornament.png'>
  </div>
  <div class="row my-5">
    <div class="col-sm-10 offset-sm-2 pl-5">
      <h5 class="my-4">ランキング</h5>
      <p>ランキングをみてみよう！<br />
         全体の総ランキングと週間ランキングで <br />
         一目で人気がわかる！</p>
    </div>
    <div class="col-sm-6">
    </div>
  </div>

</div>