/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

@mixin vertical-align($position) {
  position:$position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin all-transition($time)
{
  transition: all $time;
  -webkit-transition: all $time;
}

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
}

.main {
  /*background-image: url(PF_top.jpg);
  background-size: cover;*/
  height: 600px;
  width: 85%;
}

.header {
  background: #ffffff;
}

.menu {

  font-weight: 100;
  background: #ffffff;
  width: 50px;
  height: 100%;
  padding-left: 200px;
  position: fixed;
  z-index: 100;
  -webkit-box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
  box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
  right: 0px;
  @include all-transition(0.3s);
  color: #222;

  &:hover, &:focus
  {
    transform: translate3d(-130px, 0, 0);
    animation-timing-function: 1s ease-in;
  }

  .title
  {
    top:50%;
    @include vertical-align(absolute);
    /*transform: rotate(270deg);*/
    left: 50px;
    font-weight: 800;
    font-size: 15px;
    padding-left: 50px;

  }

  nav {
    background: #ffffff;
    height: 100%;
    z-index: 100;
  }

  .nav
  {
    @include vertical-align(absolute);
    font-weight: 100;
    margin-right: 80px;
    width: 100px;
    background: #ffffff;

    li
    {
        padding-bottom: 30px;
        list-style-type: none;

        a
        {
          display: block;
          text-decoration: none;
          color: inherit;
          @include all-transition(1.0s);

          &:hover
          {
            color: #aaa;
          }
        }
    }
  }

}