/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require social-share-button
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "social-share-button";
@import 'font-awesome-sprockets';
@import 'font-awesome';

@font-face {
  font-family: "komadori+.otf";
  src: url('/fonts/komadori+.otf') format('truetype');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
  height: 100vh;
  width: 100%;
  font-family: "komadori+.otf";
  src: url('/fonts/komadori+.otf') format('truetype');
  font-family: 'MS PMincho', "YuMincho", "Times New Roman", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

header {
  background-color: #96514d;
}

header a {
  text-decoration: none;
  color: #fff;
  margin-right: 5px;
  margin-bottom: 4px;
  display: inline-block;
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

header a:hover {
  text-decoration: none;
  color: #fff;
   -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.header-notice {
  color: #fff;
}

button i {
  color: #fff;
}

.main {
  width: 100%;
  color: #96514d;
}

/* リストの点を消去 */
ul {
  list-style: none;
}

/* フラッシュメッセージ */
.notice {
  color: #68be8d;
}

/* 検索フォーム */
.search_container{
  border: 2px solid #96514d;
  padding: 3px 10px;
  border-radius: 4px;
  height: 2.0em;
  width: 110px;
  overflow: hidden;
}
.search_container-btn{
  cursor: pointer;
  border: none;
  background: #fff;
  color: #96514d;
  border-radius: 3px;
  width: 3.5em;
  outline : none;
}

/* SNSシェアボタン */
$size: 25px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

.footer {
  background-color: #96514d;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
}

