// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-img{
  background-image: url(PF_top.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0 auto;
}
