// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-color: transparent !important;
  background-image: url('PF_top.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  // padding: 0 auto !important;
  margin-bottom: 0 !important;
}

@media screen and (max-width: 1000px) {
  .jumbotron {
    background-image: url('PF_top.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
  }
}